<!DOCTYPE html>
{% extends "trainer_portal/base.html"%}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Dados do Atleta</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Nome</h5>
            <p class="card-text">{{ atl_data.name }}</p>

            <h5 class="card-title">Idade</h5>
            <p class="card-text">{{ atl_data.age }} anos</p>

            <h5 class="card-title">Peso</h5>
            <p class="card-text">{{ atl_data.weight }} Kg</p>

            <h5 class="card-title">Altura</h5>
            <p class="card-text">{{ atl_data.height }} m</p>

            <h5 class="card-title">Gênero</h5>
            <p class="card-text">{{ atl_data.gender }}</p>
        </div>
        <div class="card-footer">
            <!-- <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#observacoes">Observações</a> -->
            <a href="#" class="custom-link" data-toggle="collapse" data-target="#observacoes" onclick="rotateArrow()">
                <span id="arrow" class="arrow-down">&#9660;</span>
                <b>Observações</b>
            </a>
            <div class="collapse" id="observacoes">
                <div class="card card-body">
                    {% if atl_data.personal_trainer_observation != None %}
                    <h5>Observações do Treinador Físico</h5>
                    <p>{{ atl_data.personal_trainer_observation }}</p>
                    {% endif %}
                    
                    {% if atl_data.medical_observation != None %}
                    <h5>Observações Médicas</h5>
                    <p>{{ atl_data.medical_observation }}</p>
                    {% endif %}
                    
                    {% if atl_data.nutritionist_observation != None %}
                    <h5>Observações Nutricionais</h5>
                    <p>{{ atl_data.nutritionist_observation }}</p>
                    {% endif %}
                    
                    {% if atl_data.psychologist_observation != None %}
                    <h5>Observações do Psicólogo</h5>
                    <p>{{ atl_data.psychologist_observation }}</p>
                    {% endif %}
                </div>
            </div>
            <hr>
            <h5>Comentário do Treinador</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <textarea name="observation"class="form-control" placeholder="Adicionar comentário" style="resize: vertical;"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-secondary mr-3" type="submit">Registrar</button>
                </div>
            </form>
            <hr>
            <h5>Planos de Exercício</h5>
            <div class="input-group mb-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="btn btn-secondary">
                            Escolher PDF <input id="pdfInput" type="file" name="file" style="display: none;" accept="application/pdf" onchange="displayFileName()">
                    </label>
                    <button style="margin-left: 10px;" class="btn btn-secondary" type="submit" onclick="submitPDF()">Enviar</button>
                </form>
            </div>
            {% for file in atl_data.files %}
            <li class="list-group-item d-flex align-items-center">
                <div>
                    <span>{{ file.file_name }}</span>
                </div>
                <div>
                    <a href="{% url 'download_pdf' atl_id=file.atl_id user_id=file.user_id file_name=file.file_name %}" style="margin-left: 10px;" download>Download</a>
                </div>
            </li>
            {% endfor %}
            <div class="input-group-append">
                <span class="input-group-text" id="selectedFileName"></span>
            </div>
            <hr>
            <h5>Chat</h5>
            <a href="{{ atl_data.id }}/chat">
                <button class="btn btn-secondary mr-3" type="button">Iniciar chat</button>
            </a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

    function submitObservation() {
        var endpoint = "http://ec2-52-67-134-153.sa-east-1.compute.amazonaws.com:8000/api/patients/{{ atl_data.id }}/personal%20trainer/{{ request.user.id }}/observation/"
        var observation = document.getElementById("observationInput").value
        console.log("enviando: " + observation)
        console.log("para " + endpoint)


        fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ "observation": observation }),
        })

    }

    function displayFileName() {
        var selectedFile = document.getElementById('pdfInput').files[0];
        var fileNameContainer = document.getElementById('selectedFileName');

        if (selectedFile) {
            fileNameContainer.textContent = selectedFile.name;
        } else {
            fileNameContainer.textContent = '';
        }
    }


    function rotateArrow() {
        console.log("oioioi")
        $('#arrow').toggleClass('rotate'); // Adiciona ou remove a classe 'rotate'
    }
</script>
{% endblock content %}